# Build artifacts
/build/
/bin/
/pb/

# Go-specific
/vendor/
*.test
*.log
*.out
*.exe
*.dll
*.so
*.dylib

# IDE / editor files
/.idea/
/.vscode/
*.swp
*.swo

# Testing
/coverage.out
/testdata/
/tests/_output/

# Environment variables
.env
.env.local